In [2]:
import pandas as pd

BASE_PATH = r"C:\Users\Arit\Desktop\IITB\Self Project\Customer Revenue & Retention Intelligence Platform\archive"

In [3]:
orders = pd.read_csv(f"{BASE_PATH}\olist_orders_dataset.csv")
customers = pd.read_csv(f"{BASE_PATH}\olist_customers_dataset.csv")
items = pd.read_csv(f"{BASE_PATH}\olist_order_items_dataset.csv")
payments = pd.read_csv(f"{BASE_PATH}\olist_order_payments_dataset.csv")
products = pd.read_csv(f"{BASE_PATH}\olist_products_dataset.csv")
reviews = pd.read_csv(f"{BASE_PATH}\olist_order_reviews_dataset.csv")

In [4]:
datasets = {
    "orders": orders,
    "customers": customers,
    "items": items,
    "payments": payments,
    "products": products,
    "reviews": reviews
}

for name, df in datasets.items():
    print(f"\n{name.upper()}")
    print("Shape:", df.shape)
    print("Columns:", df.columns.tolist())
    display(df.head(3))

ORDERS
Shape: (99441, 8)
Columns: ['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp', 'order_approved_at', 'order_delivered_carrier_date', 'order_delivered_customer_date', 'order_estimated_delivery_date']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00

CUSTOMERS
Shape: (99441, 5)
Columns: ['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP

ITEMS
Shape: (112650, 7)
Columns: ['order_id', 'order_item_id', 'product_id', 'seller_id', 'shipping_limit_date', 'price', 'freight_value']

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

PAYMENTS
Shape: (103886, 5)
Columns: ['order_id', 'payment_sequential', 'payment_type', 'payment_installments', 'payment_value']

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

PRODUCTS
Shape: (32951, 9)
Columns: ['product_id', 'product_category_name', 'product_name_lenght', 'product_description_lenght', 'product_photos_qty', 'product_weight_g', 'product_length_cm', 'product_height_cm', 'product_width_cm']

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

REVIEWS
Shape: (99224, 7)
Columns: ['review_id', 'order_id', 'review_score', 'review_comment_title', 'review_comment_message', 'review_creation_date', 'review_answer_timestamp']

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [5]:
for name, df in datasets.items():
    print(f"\n{name.upper()} Missing Values (%)")
    display((df.isnull().mean() * 100).round(2))

ORDERS Missing Values (%)

order_id                         0.00
customer_id                      0.00
order_status                     0.00
order_purchase_timestamp         0.00
order_approved_at                0.16
order_delivered_carrier_date     1.79
order_delivered_customer_date    2.98
order_estimated_delivery_date    0.00
dtype: float64

CUSTOMERS Missing Values (%)

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

ITEMS Missing Values (%)

order_id               0.0
order_item_id          0.0
product_id             0.0
seller_id              0.0
shipping_limit_date    0.0
price                  0.0
freight_value          0.0
dtype: float64

PAYMENTS Missing Values (%)

order_id                0.0
payment_sequential      0.0
payment_type            0.0
payment_installments    0.0
payment_value           0.0
dtype: float64

PRODUCTS Missing Values (%)

product_id                    0.00
product_category_name         1.85
product_name_lenght           1.85
product_description_lenght    1.85
product_photos_qty            1.85
product_weight_g              0.01
product_length_cm             0.01
product_height_cm             0.01
product_width_cm              0.01
dtype: float64

REVIEWS Missing Values (%)

review_id                   0.00
order_id                    0.00
review_score                0.00
review_comment_title       88.34
review_comment_message     58.70
review_creation_date        0.00
review_answer_timestamp     0.00
dtype: float64

In [6]:
print("Orders unique:", orders["order_id"].nunique())
print("Items unique:", items["order_id"].nunique())

Orders unique: 99441
Items unique: 98666

In [7]:
date_cols = [
    "order_purchase_timestamp",
    "order_approved_at",
    "order_delivered_customer_date",
    "order_estimated_delivery_date"
]

for col in date_cols:
    orders[col] = pd.to_datetime(orders[col], errors="coerce")

In [8]:
order_value = (
    items.groupby("order_id", as_index=False)["price"]
    .sum()
    .rename(columns={"price": "order_value"})
)

In [9]:
payments_clean = (
    payments.groupby("order_id", as_index=False)
    .agg({
        "payment_type": "first",
        "payment_value": "sum"
    })
)

In [10]:
df = (
    orders
    .merge(customers, on="customer_id", how="left")
    .merge(order_value, on="order_id", how="left")
    .merge(payments_clean, on="order_id", how="left")
    .merge(reviews[["order_id", "review_score"]], on="order_id", how="left")
)

In [11]:
print("Rows:", df.shape[0])
df[["order_value", "review_score"]].describe()
df.isnull().mean().sort_values(ascending=False).head(8)

Rows: 99992

order_delivered_customer_date    0.029872
order_delivered_carrier_date     0.017931
order_value                      0.007781
review_score                     0.007681
order_approved_at                0.001610
payment_value                    0.000010
payment_type                     0.000010
order_id                         0.000000
dtype: float64

In [12]:
df["order_value"] = df["order_value"].fillna(0)
df["review_score"] = df["review_score"].fillna(df["review_score"].median())

In [13]:
df["delivery_days"] = (
    df["order_delivered_customer_date"] -
    df["order_purchase_timestamp"]
).dt.days

In [15]:
# Order month
df["order_month"] = df["order_purchase_timestamp"].dt.to_period("M").astype(str)

# First purchase date per customer
first_order = (
    df.groupby("customer_unique_id")["order_purchase_timestamp"]
      .min()
      .reset_index()
      .rename(columns={"order_purchase_timestamp": "first_order_date"})
)

df = df.merge(first_order, on="customer_unique_id", how="left")

# Cohort month
df["cohort_month"] = pd.to_datetime(df["first_order_date"]).dt.to_period("M").astype(str)

In [16]:
order_counts = (
    df.groupby("customer_unique_id")["order_id"]
      .transform("nunique")
)

df["is_repeat_customer"] = (order_counts > 1).astype(int)

In [17]:
snapshot_date = df["order_purchase_timestamp"].max()

rfm = (
    df.groupby("customer_unique_id")
      .agg(
          recency=("order_purchase_timestamp", lambda x: (snapshot_date - x.max()).days),
          frequency=("order_id", "nunique"),
          monetary=("order_value", "sum")
      )
      .reset_index()
)

In [18]:
rfm["R_score"] = pd.qcut(rfm["recency"], 4, labels=[4,3,2,1]).astype(int)
rfm["F_score"] = pd.qcut(rfm["frequency"].rank(method="first"), 4, labels=[1,2,3,4]).astype(int)
rfm["M_score"] = pd.qcut(rfm["monetary"], 4, labels=[1,2,3,4]).astype(int)

rfm["RFM_score"] = rfm["R_score"] + rfm["F_score"] + rfm["M_score"]

In [19]:
rfm.describe()
rfm["RFM_score"].value_counts().sort_index()
df[["order_month", "cohort_month", "is_repeat_customer"]].head()

  order_month cohort_month  is_repeat_customer
0     2017-10      2017-09                   1
1     2018-07      2018-07                   0
2     2018-08      2018-08                   0
3     2017-11      2017-11                   0
4     2018-02      2018-02                   0

In [20]:
monthly_revenue = (
    df.groupby("order_month", as_index=False)
      .agg(
          revenue=("order_value", "sum"),
          orders=("order_id", "nunique"),
          customers=("customer_unique_id", "nunique")
      )
)

monthly_revenue["aov"] = monthly_revenue["revenue"] / monthly_revenue["orders"]
monthly_revenue["mom_growth_pct"] = monthly_revenue["revenue"].pct_change() * 100

In [21]:
cohort_counts = (
    df.groupby(["cohort_month", "order_month"])["customer_unique_id"]
      .nunique()
      .reset_index(name="active_customers")
)

cohort_sizes = (
    cohort_counts.groupby("cohort_month")["active_customers"]
                 .first()
                 .reset_index(name="cohort_size")
)

cohort_retention = cohort_counts.merge(cohort_sizes, on="cohort_month")
cohort_retention["retention_rate"] = (
    cohort_retention["active_customers"] / cohort_retention["cohort_size"]
)

In [22]:
df = df.merge(
    rfm[["customer_unique_id", "RFM_score"]],
    on="customer_unique_id",
    how="left"
)

In [23]:
def segment_label(score):
    if score >= 10:
        return "High Value"
    elif score >= 7:
        return "Mid Value"
    else:
        return "Low Value"

rfm["segment"] = rfm["RFM_score"].apply(segment_label)

In [24]:
ops_metrics = (
    df.groupby("order_month", as_index=False)
      .agg(
          avg_delivery_days=("delivery_days", "mean"),
          avg_review_score=("review_score", "mean"),
          late_delivery_rate=("delivery_days", lambda x: (x > 10).mean())
      )
)

In [25]:
monthly_revenue.head()
cohort_retention.head()
rfm["segment"].value_counts()
ops_metrics.head()

  order_month  avg_delivery_days  avg_review_score  late_delivery_rate
0     2016-09          54.000000          1.000000            0.250000
1     2016-10          19.091912          3.592025            0.579755
2     2016-12           4.000000          5.000000            0.000000
3     2017-01          12.085865          4.081784            0.434944
4     2017-02          12.585792          4.024049            0.461409

In [26]:
import os

OUTPUT_PATH = "data_processed"
os.makedirs(OUTPUT_PATH, exist_ok=True)

In [27]:
df.to_csv(f"{OUTPUT_PATH}/master_orders.csv", index=False)
monthly_revenue.to_csv(f"{OUTPUT_PATH}/monthly_revenue.csv", index=False)
cohort_retention.to_csv(f"{OUTPUT_PATH}/cohort_retention.csv", index=False)
rfm.to_csv(f"{OUTPUT_PATH}/rfm_customers.csv", index=False)
ops_metrics.to_csv(f"{OUTPUT_PATH}/ops_metrics.csv", index=False)

In [28]:
os.listdir(OUTPUT_PATH)

['cohort_retention.csv',
 'master_orders.csv',
 'monthly_revenue.csv',
 'ops_metrics.csv',
 'rfm_customers.csv']